/* Isso centraliza o formulário */
#formAgendamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adiciona espaço entre os campos */
}

/* Isso estiliza os inputs */
#formAgendamento input, 
#formAgendamento textarea {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Isso estiliza as labels */
#formAgendamento label {
    font-weight: bold;
    margin-top: 10px;
}