@charset "UTF-8";

* {       /*Configs globais*/
    height: auto;
}

body{
    background-color: #101010;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1,h2{
    font-family: 'Bebas Neue', sans-serif;
    color: #ffffff;
    text-align: center;
}

h3,h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#ffffff;
}

p {
    font-family: 'Poppins', sans-serif;
}

.highlight {
    color: #f97316;
}

.secondary-text {
    color: #a0a0a0;
}

.btn-agendar, .btn-cortes{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #101010;
    background-color: #f97316;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    background-color: #101010;
}
.menu {
    list-style: none;
}

.menu a {
    display: inline-block;
    padding: 0px 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    
}

.menu a:hover {
    color: #f97316;
}

.logo-nav {
    width: 100px;
}

.card {
    background-color: #1a1a1a;
    color: #ffffff;
}

.links a {
    color: hsla(0, 0%, 100%, 0.7);
    display: inline-block;
    text-decoration: none;
}

.links a:hover {
    color: #f97316;
}